<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBboP-bA6NQgvERb69uAi7LFZmAhm-wQQs</string>
	<key>GCM_SENDER_ID</key>
	<string>258901705978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bwaflutter.airplane</string>
	<key>PROJECT_ID</key>
	<string>airplane-9ae96</string>
	<key>STORAGE_BUCKET</key>
	<string>airplane-9ae96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258901705978:ios:8cf958c9b09741d0d27543</string>
</dict>
</plist>